.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 30px;
}

.auth-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form h5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.auth-form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #1e5f74;
}

.auth-form p {
  margin-top: 20px;
  text-align: center;
  color: #333;
}

.auth-form a {
  color: #3897f0;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}
.font-img {
  height: 90px;
  max-width: 100%;
  background-color: white;
}
